inputs/data_Gbif
inputs/data_Gbif_for_debug
inputs/data_RF_Gbif
inputs/data_RLS
inputs/data_RF_RSL
inputs/output_RF_abundace
inputs/outputs_cnn_sdm_abundance_with_tl
inputs/outputs_cnn_sdm_abundance_without_tl
inputs/outputs_cnn_sdm_presence_only
inputs/outputs_cnn_sdm_presence_only_for_debug
outputs/abundances_results
outputs/cnn_sdm_abundance_with_tl
outputs/cnn_sdm_abundance_without_tl
outputs/cnn_sdm_presence_only_for_debug
outputs/pred_cnn_sdm_abundance_with_tl
outputs/pred_cnn_sdm_abundance_without_tl
outputs/pred_RF_abundace
