# Auto detect text files and perform LF normalization
* text=auto
outputs_cnn_sdm_abundance_without_tl_1.zip filter=lfs diff=lfs merge=lfs -text
outputs_cnn_sdm_abundance_without_tl_2.zip filter=lfs diff=lfs merge=lfs -text
outputs_cnn_sdm_abundance_with_tl_1.zip filter=lfs diff=lfs merge=lfs -text
outputs_cnn_sdm_abundance_with_tl_2.zip filter=lfs diff=lfs merge=lfs -text
outputs_cnn_sdm_presence_only.zip filter=lfs diff=lfs merge=lfs -text
outputs_cnn_sdm_presence_only_for_debug.zip filter=lfs diff=lfs merge=lfs -text
outputs.zip filter=lfs diff=lfs merge=lfs -text
